html {
    background: 
    radial-gradient(circle at 20% 35%, rgba(255, 225, 0, 0.8), transparent 60%),
    radial-gradient(circle at 75% 44%, rgba(0, 128, 255, 0.8), transparent 60%),
    radial-gradient(circle at 46% 80%, rgba(255, 0, 0, 0.8), transparent 60%),
    radial-gradient(circle at 60% 10%, rgba(0, 255, 0, 0.8), transparent 60%),
    radial-gradient(circle at 10% 90%, rgba(128, 0, 128, 0.8), transparent 60%);
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}