* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: #cdcdcd;
}

body {
    margin: 2rem;
}

header {
    text-align: center;
    padding: 1rem;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

main {
    margin: 1.7rem auto;
    max-width: 1000px;
    text-align: center;
    align-items: center;
    align-content: center;
}

main hr {
    margin: 2.7rem auto;
    max-width: 50%;
    color: #4e464644;
}

.link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Maximum 3 columns */
    gap: 1rem;
}

.link {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link img {
    max-width: 100%;
    height: auto;
}

.link .link-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
}

.link h2 {
    font-size: 24px;
}